.post-container{
    width: 615px;
    
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-top: 25px;
}
.post-header{
    height: 60px;
    border-bottom:1px solid #dbdbdb;
    display: flex;
    
}

.post-userlogo{
    min-width: 30px;
    min-height: 30px;
    margin:10px

}

.post-username{
    font-weight: bold;
    margin-top: 20px;
    
}
.Three-para{
    width: 25px;
    margin: 5px;

}

.post-comment{
  
    margin: 10px;

 

}
.post-comment-input{
height: 50px;
width: 605px;
border: 1px solid #dbdbdb;
font-size: 16px;
padding-left: 10px;

}