.suggestion-container{
    width: 98%;
    height: 290px;
    margin-top:25px ;
    
    margin-left: 1%;
    font-size: 16px;
}

#no-dec{
    text-decoration: none;
    color: black;
}
.suggestion-text{
    font-weight: bold;
    color: #8e8e8e;
    font-size: 14.4px;

}
.suggestion-text2{
    font-weight: bold;
    color: #8e8e8e;
    text-align: end;
    font-size: 14.4px;
}
.folo{
    width: 100px;
    height: 25px;
    border: none;
    margin-left: 20px;
    background-color: rgb(86, 191, 233);
    color: aliceblue;
}


.suggestions-list{
    margin-top: 10px;
    height: 290px; 

}
.suggestion-avtx{
    display: flex;
    padding: 4px 0px;
}

.suggested-avatar{
    max-width: 35px;
    max-height: 35px;

}

.suggest-text{
    font-weight: bold;
    margin: 7px;
   color: black;
    font-size: 13px;


}
.follow-text{
    font-weight: bold;
    color: rgb(0,149,246);
    margin: 7px;
    text-align: end;
    font-size: 12px;
    cursor: pointer;
}