.info_container{
 width: 300px;
 height:56px;
 margin-top: 58px;
 display: flex;
 font-size: 14px;
}

.info_image{
    min-width: 60px;
    min-height: 60px;
    
}
.info_content{
    margin-left: 20px;
}
.info_username{
margin-top: 5px;
font-weight: 600;

}
.info_desc{
margin-top: 5px;
}