.chat-conatiner{
    border: 1px solid #dbdbdb;
    background-color: white;
  
}


.all-chats{

}

.chat-box{
    
}

.user-chat-details{
    border: 1px solid #dbdbdb;
    background-color: white;
    height: 65px;
}
.userchat{
    font-weight: bold;
}

.arrow-img{
    width: 20px;
}

.note{
    justify-content: end;
    
}
.all-chats-here{
    background-color: white;
}
.chat-box-container{
    height: 65px;
    margin-top: 2%;
}
.chat-logo{
    min-width: 50px;
    min-height: 50px;
    
    margin: 5%;
}
.chat-tetx{
    margin: 5px;
    
}
.person-chat{
    margin: 2px;
    font-size: 16px;

}
.sent-time{
    margin: 4px;
    font-size: 12px;
    /* font-weight: bold; */
    color: #8e8e8e;

}

.all-chats-here{
    height: 550px;
    overflow: scroll;
}


/* SendMessage */

.sendMsg{
    border: 1px solid black;
    position: relative;
}

