/* Popup style */
.upload-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 210vh;
  top: 0;
  left: 0;
  z-index: 5;
}

.upPopup {
  position: relative;
  width: 50%;
  margin: 0 auto;
  /* height: 210vh; */
  max-height: 55vh;
  margin-top: calc(114vh - 85vh - 20px);
  background: #fff;
  border-radius: 15px;
  padding: 0 0 10rem 0px;
  border: 1px solid #999;
  overflow: auto;
}

.upload-close {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(28% - 18px);
  top: calc(101vh - 69vh - 30px);
  background: #f5f3f3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid rgb(250, 247, 247);
  font-size: 20px;
}

.uploadText {
  font-size: large;
  color: rgb(124, 121, 121);
  text-align: center;
  margin: 3rem;
}

#PopUpFlex {
  display: flex;
}
#caption {
  border: none;
  outline: none;
  padding: 1rem;
  margin-left: 1rem;
}
#shareBtn {
  border: none;
  color: #0095f6;
  margin-top: 5%;
  background-color: transparent;
  cursor: pointer;
}
/* #shareBtn {
  outline: none;
} */
/* input[type="file"] {
  display: none;
} */
::-webkit-file-upload-button {
  background: #0095f6;
  color: white;
  padding: 0.5em 3em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* 
@media screen and (min-width: 1024px) {

} */

.select {
  padding: 1rem;
  width: 100%;
  color: rgb(104, 103, 103);
  outline: none;
  border: 1px solid rgb(212, 209, 209);
}
#paddingDiv {
  padding: 15% 0;
  
  /* border: 1px solid red; */
}

#locationInp {
  padding: 1rem;
  width: 100%;
  outline: none;
  border: none;
  border-left: 1px solid rgb(212, 209, 209);
}

/* sroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168, 167, 167);
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868686;
}

#createPost {
  align-items: center;
  text-align: center;
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  padding: 2%;
}

#textContainer{
 padding-top: 5%;

}

.react-icons{
  margin-top: 6%;
}