.navbar_content{

    height: 54px;
    background-color: white;
    border-bottom:1px solid #dbdbdb  ;
   
}
.insta-logo{
    margin-top: 10px;
}
.navbar-img{
    margin: 15px 10px;
}
.log{
    width: 100px;
    height: 30px;
    border: none;
    margin: 10px;
}
#logout-div{
    border: 1px solid red;
    text-align: center;
    height: 45px;
    
    position: relative;

}

.nav-searchbar{
    height:30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #fafafa;
    border-radius:5px ;
}