.navigation-bar {
  width: 20%;
  margin: auto;
  height: 5rem;
  border-radius: 3px;
  overflow: hidden;
}
.navigation-bar .nav-item {
  list-style: none;
  display: flex;
  position: relative;
  cursor: pointer;
}
.navigation-bar .nav-item .pointer {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 4.5rem;
  z-index: 0;
  transition: all 0.2s linear;
}

.navigation-bar .nav-item .item {
  flex: 1 1 0px;
  position: relative;
  z-index: 2;
}
.navigation-bar .nav-item .item .link {
  display: inline-block;
  height: 4rem;
  width: 4.5rem;
  line-height: 4.5;
  text-align: center;
  color: var(--second-color);
}
.navigation-bar .nav-item .item.active .link {
  color: var(--main-color);
}
.navigation-bar .nav-item .item .link i {
  font-size: 1.6rem;
  transition: font-size 0.2s linear;
}
.navigation-bar .nav-item .item.active .link i {
  font-size: 1.4rem;
}
/* li:active {
  border-top: 1px solid black;
} */
